@use '/styles/constants/colors';
@use '/styles/mixins/position';

.wrap {
  @include position.absolute(auto 0 0 0);
  z-index: 1;
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 0 20px;
  background-color: colors.$POINT3;

  li {
    margin-top: 7px;

    a {
      padding: 12px 9px 5px;
      // background-color: pink;

      svg {
        pointer-events: none;
        fill: colors.$POINT2;
      }
    }

    &.myPageBtn {
      &.active~.circle {
        margin-left: 54px;
      }
    }

    &.imageBtn {
      &.active~.circle {
        margin-left: 109.5px;
      }
    }

    &.sumBtn {
      svg {
        margin-top: 1px;
      }

      &.active~.circle {
        margin-left: 167px;
      }
    }

    &.settingBtn {
      svg {
        margin-top: 1px;
      }

      &.active~.circle {
        margin-left: 225px;
      }
    }

  }

  .circle {
    @include position.absolute(auto auto 4px 18.5px);
    z-index: -1;
    width: 57px;
    height: 57px;
    background-color: colors.$WHITE;
    border: 8px solid colors.$POINT3;
    border-radius: 50%;
    transition: ease-in-out 0.2s;
  }
}