@use '/styles/constants/colors';
@use '/styles/mixins/position';

.wrap {
  @include position.absolute(auto 0 0 0);
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 50px;
  padding: 0 20px;
  background-color: colors.$POINT3;

  li {
    width: 40px;
    height: 40px;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;

      svg {
        display: block;
        margin: 5px auto;
        pointer-events: none;
        fill: colors.$POINT2;
      }
    }

    &.myPageBtn {
      &.active~.circle {
        margin-left: 18%;
      }

      svg {
        width: 20px;
      }
    }

    &.imageBtn {
      svg {
        width: 22px;
      }
    }

  }

  .circle {
    @include position.absolute(auto auto 4px 6.5%);
    z-index: -1;
    width: 57px;
    height: 57px;
    background-color: colors.$WHITE;
    border: 8px solid colors.$POINT3;
    border-radius: 50%;
    transition: ease-in-out 0.2s;
  }
}