@use '/styles/constants/colors';
@use '/styles/mixins/position';

.wrap {
  padding: 35px 20px;

  .profileWrap {
    padding-bottom: 20px;
    border-bottom: 1px solid colors.$GRAYC;

    .titWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .id {
        font-size: 1.2rem;
        font-weight: 600;
        color: colors.$GRAY5;
      }
    }

    .profileMiddleWrap {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .profileImageWrap {
        .profileImage {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          background-color: colors.$GRAYD;
          border-radius: 50%;

          svg {
            width: 30px;
            pointer-events: none;
            fill: colors.$WHITE;
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            @include position.absolute(auto -8px 0 auto);
            width: 20px;
            height: 20px;
            background-color: colors.$POINT3;
            border: 2px solid colors.$WHITE;
            border-radius: 50%;

            &::before {
              display: block;
              width: 8px;
              height: 1px;
              content: ' ';
              background-color: colors.$WHITE;
            }

            &::after {
              position: absolute;
              display: block;
              width: 1px;
              height: 8px;
              content: ' ';
              background-color: colors.$WHITE;
            }
          }
        }
      }

      .statusWrap {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 20px;

        li {
          display: flex;
          flex-direction: column;
          row-gap: 3.5px;

          button {
            font-size: 0.9rem;
            font-weight: 600;
            color: colors.$GRAY5;
          }

          span {
            font-size: 0.78rem;
            font-weight: 300;
            color: colors.$GRAY5;
          }
        }
      }
    }

    .nickname {
      display: block;
      margin-top: 15px;
      font-size: 0.85rem;
      font-weight: 500;
      color: colors.$GRAY5;
    }
  }

  .postCardWrap {
    margin-bottom: 10px;
  }
}