// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY5: #555555;
$GRAY6: #666666;
$GRAY8: #888888;
$GRAY9: #999999;
$GRAYA: #aaaaaa;
$GRAYC: #cccccc;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

$POINT1: #edf3f3;
$POINT2: #80a1be;
$POINT3: #58748b;

$YELLOW: #f9f871;
$GREENYELLOW: #a7ed90;
$GREEN: #67dab0;
$BLUEGREEN: #52c0c0;
$BLUE: #68a3b6;
$DARKBLUE: #798897;
$DARKPURPLE1: #797793;
$DARKPURPLE2: #7f6e8c;
$DARKPURPLE3: #856381;
$DARKWINE: #8b5971;

$UP: #ea3a4b;
$DOWN: #85da47;